
extends javascript, javascriptreact, typescript, typescriptreact

#
# snippets for array
#

snippet nmap "Array(N).map..."
const list = [...Array(10)].map(() => {
  const item = {
    // TODO
    ${VISUAL}$0
  }
  return item
})
endsnippet

# vim:ft=snippets:


