
extends javascript


snippet exportf "export function"

export function `!v expand('%:t:r')`() {
  // TODO
  return {
    // TODO
  }
}

endsnippet



snippet exportcla "export class"

export class `!v expand('%:t:r')` {
  constructor(options) {
    // TODO
  }
}

endsnippet



snippet exportclas "export sub class"


export class `!v expand('%:t:r')` extends SuperClass {
  constructor(options) {
    super(options)
    // TODO
  }
}

endsnippet


# vim:ft=snippets:


